.navbar {
  padding: 24px;
  background: linear-gradient(
    to right,
    rgba(31, 187, 187, 0.553),
    rgba(45, 125, 125, 0.402)
  );
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  font-size: 20px;
  margin: 20px;
}

.nav-item:hover {
  color: rgb(95, 95, 197);
}

.footer {
  background-color: rgba(45, 125, 125, 0.402);
  padding: 24px;
  text-align: center;
}

.h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}

.introduction-text {
  width: 300px;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  margin: 50px;
  flex-direction: column;
}

.image {
  height: 450px;
  width: 400px;
  border-radius: 20px;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .image {
    height: 300px;
    width: 250px;
  }
}
